
<div class="grid-x grid-padding-x">

        <div class="small-12 cell" >
		
		<small>&copy; Copyright 2019 | AAF University of Technology| 1234 Greenway Avenue, Sheffield | S123 QW45.|</small>
		
		</div>
		
		
		</div>
	</footer>