<div class="large-12 cell top-bar callout">
	<div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="index.html">AAF University of Technology</a></li>
		  </ul>
      </div>
      <div class="top-bar-right" >
        <ul class="menu" >
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
		  <li><a href="/courses">Courses</a></li>
         
		  <li><a href="/contact">Contact Us</a></li>
		  
		  
        </ul>
      </div>
     
    </div>