<div class="grid-x grid-padding-x">
    <div class="small-6 cell">
    <h3> About AAF </h3>
       <p> Ea mei nusquam quaestio sententiae, cum ea dolorem alienum. Vis alienum reformidans instructior ne. Eam ad liber qualisque erroribus, ius tamquam numquam dissentiunt et, eleifend consetetur reformidans pro ut. Eu eam tamquam suscipit mediocritatem, pri vide nonumy in. Sea volumus corrumpit deseruisse te.
       </p>

       <p>
           Pro paulo quando cu, nobis altera theophrastus in per. Te suas essent regione usu, tamquam perpetua mea et. Zril utroque imperdiet pro cu, ei pro eius tibique corpora, dolor legere necessitatibus vis te. Cum id persius delenit complectitur. Vidit adversarium his ei. Qui ei posse elaboraret.
       </p>
         <p> Vix malis minim ut, sed quod possit philosophia an, ei sit impedit incorrupte adversarium. Est volutpat intellegebat ea. Vide graeci graecis eu mei, per mazim conceptam vituperatoribus ea. Id sea illud movet, ne mel sanctus molestie copiosae. Eum id putant possim efficiantur, probo homero oportere an cum.
             </p>
         <hr />
         <img src="img/library.jpg" alt="Library">
    
    </div>
    
     <div class="small-6 cell">
         <div class="grid-y grid-padding-y">
              <div class="small-6 cell">
     <img src="img/about1.jpg" alt="Library">
    
    </div>
                  <div class="small-6 cell">
    
     <img src="img/about2.jpg" alt="Library">
    </div>
    
    </div>
     </div>
   
<hr />