<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="orbit" role="region" aria-label="Courtesy of AAF University of Technology" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
            <li class="orbit-slide is-active"><img src="img/banner3.png"/> </li>
             <li class="orbit-slide"><img src="img/banner2.png" alt="Banner" /></li>
        </ul>
        </div>
    </div>
</div>
<hr />
  
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
          <div class="callout">
          <h3> Welcome to AAF University of Technology</h3>
            <p> Lorem ipsum dolor sit amet, in quis ubique eruditi vel, hinc quando pertinax et eum. 
                Ea qui adhuc rebum lobortis, cu cum integre graecis adolescens. Ad mel propriae hendrerit constituam, no h
                inc soleat sea. Usu in possim laoreet ullamcorper, at pri atqui erant dicunt. An qui quidam antiopam, ad sed d
                icit gubergren definitiones. Rebum tempor appareat quo id, fabulas intellegat pertinacia est ne, qui homero neglegentur te. 
                Vis meliore necessitatibus at, has mutat interesset eu.</p>
          </div>
        </div>
       
</div>
<hr />